

ion-content {
  --background: url('ihfnlpbze7o01.jpg') 0 0/100% 100% no-repeat;
}

ion-header {
  background-color: transparent;
}

ion-title {
  font-size: 1.5em;
  color: #ffffff; 
}

ion-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

ion-list {
  margin-top: 20px;
}

ion-item {
  border-radius: 8px;
}

ion-select {
  width: 100%;
}

ion-text.color-danger {
  font-weight: bold;
  color: #ff0000;
}


