/* Tab1.css */

.ion-padding {
    text-align: center;

}
/* Add styling for the image grid */
.ion-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; /* Adjust the gap between grid items */
    justify-content: center; /* Center the grid items horizontally */
  }
  
  /* Add styling for the image container */
  .ion-router-link {
    position: relative;
    overflow: hidden;
    border-radius: 8px; /* Adjust the border-radius for a slightly rounded look */
  }
  
  /* Add styling for the image */
  .weather-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* Adjust the border-radius for a slightly rounded look */
  }
  